:root {
    --mainEng-font: "Montserrat";
    --mainKor-font: "nanumSquareNeo";
    --mainNum-font: "gmarket";
    --intro-font: "Playfair Display";
    --intro-sub-font: 'Noto Serif KR';

    --subfont-color: rgb(103, 106, 255);
    --mainBg-color: #f0fff8;
    --subBg100: #e8fff4;
    --subBg200: #d8ffec;
    --subBg300: #cbffe6;
    --subBg400: #afffd9;
    --subBg500: #98ffcf;

    --white: #fff;
    --black: #000;
    --black100: #111;
    --black200: #222;
    --black300: #333;
    --black400: #444;
    --black500: #555;

    /* 기본 폰트 설정 */
    font-family: var(--mainEng-font), var(--mainKor-font);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;

    /* 폰트를 부드럽게 렌더링하기 위한 속성  */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* 아이폰 가로 모드에서 글씨 확대 금지 */
    -webkit-text-size-adjust: 100%;
}

@media (max-width: 800px) {
    :root {
        font-size: 14px;
        line-height: 1.4;
    }
}

body {
    color: var(--black);
    background-color: var(--mainBg-color);
}